@import 'var';

@mixin displayParam($ds, $jc, $ai, $fd, $fw) {
    display: $ds;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
    flex-wrap: $fw;
}

@mixin backcolor($bc) {
    background-color: $bc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}


a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - #{$widthSite / 2});
    padding-right: calc(50% - #{$widthSite / 2});
}



.header {
    background: #222222;
    @include displayParam(flex, space-between, center, row, nowrap)
}

.heding {
    display: flex;
    justify-content: space-between;
    color: $colorSite;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 59px;
    padding-bottom: 60px;
    background-color: $backgroundColor;

}

.top-head {
    background-color: #F8F3F4;
    position: relative;

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 148px;
    }

    &__box h1 {
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        color: $colorSite;
    }

}

.content {
    display: flex;
    justify-items: center;
    gap: 35px;
}

.all__cards {
    @include backcolor($backgroundColor)
}

.card {
    width: 652px;
    height: 306px;
    display: flex;
    justify-content: center;


}


.form {
    box-sizing: border-box;
    margin-top: 10px;

    h2 {
        margin-bottom: 21px;
    }

    &__adrs {
        background-color: #FFFFFF;
        width: 360px;
        height: 272px;
    }

    &__total {
        background-color: #F5F3F3;
        ;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        width: 360px;
        height: 214px;
        margin-top: 69px;
        border: 1px solid red;
    }

    &__text {
        border: 1px solid #A4A4A4;
        width: 358.986px;
        height: 44px;
        margin-bottom: 21px;
    }

    &__text_last {
        width: 101.408px;
        height: 35px;

    }
}

.registr {
    padding-top: 64px;
    padding-bottom: 96px;

    display: flex;
    gap: 128px;

    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 20.5px;
    }

    &__title {
        color: #222;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &__input {
        width: 360px;
        padding: 13px 0 16px 17.24px;

        border: 1px solid #A4A4A4;
        stroke-width: 3px;
        stroke: #A4A4A4;
    }

    &__input::placeholder {
        color: #B1B1B1;
        font-size: 13px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &__checkboxes {
        margin-top: 31px;
        margin-bottom: 33px;

        display: flex;
        gap: 20px;
    }

    &__checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &__label {
        color: #000;
        font-family: Lato;
        font-size: 11px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        display: inline-flex;
        align-items: center;
        user-select: none;
    }

    &__label::before {
        content: '';
        display: inline-block;
        width: 17px;
        height: 17px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #A4A4A4;
        border-radius: 50%;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }

    &__checkbox:checked+label::before {
        border-color: $colorSite;
        background-color: $colorSite;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }

    &__text {
        margin-top: 15px;
        margin-bottom: 39px;
        color: #B1B1B1;
        font-size: 13px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &__button {
        padding: 16px 0;
        width: 167px;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        color: #FFF;
        background-color: #F16D7F;
        border: none;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        cursor: pointer;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        color: #000;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &__column {
        list-style-type: none;
    }

    &__li {
        padding-bottom: 16px;
        display: flex;
        gap: 28px;
    }

    &__li::before {
        content: url(img/Vect.svg)
        
    }
}

.total_text {
    color: $colorSite;
}

.price {
    color: $colorSite;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.left_title button {
    color: $colorSite;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.right_title button {
    color: #636363;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.right_title button:hover {
    color: #FFFFFF;
    background: $colorSite;
}

.btn_heding {
    border: none
}


.button_info {
    gap: 42px;
    color: #6F6E6E;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.link_left {
    display: flex;
    width: 111px;
    gap: 41px;
    align-items: center;
    flex-wrap: nowrap;

}

.link_logo_1 {
    padding-top: 18px;
    padding-bottom: 19px;

}

.link_logo_2 {
    padding-top: 28.21px;
    padding-bottom: 20px;

}

.link_right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 159px;
    padding-top: 26px;
    padding-bottom: 20px;

}





.price_info {
    color: $colorSite;
}

.text_border {
    height: 24.949px;
    margin-left: 24px;
    border: 1px solid black;
    padding: 0px 30px 0px 30px;

}

.product__image {
    width: 262px;
    height: 306px;
    padding-right: 31px;

}



.title_top {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    padding-top: 25px;
    padding-bottom: 16px;
}

.text_top {
    width: 314px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-bottom: 18px;
}

.content_fp_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pic_women {
    width: 144.578px;
    height: 150.361px;
    flex-shrink: 0;
    padding-top: 77px;
}

.foot_part_3 {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 235px;
    padding-right: 230px;
}

.foot_bottom {
    margin: 0 auto;
    align-items: center;

}

.foot_info {
    height: 341px;
    margin: auto;
    background: #222224;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.foot_info h1 {
    padding-left: 100px;
}

.footer_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 103px;
    width: 360px;
    height: 133px;
    justify-content: space-between;
}

.title_foot_1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    padding-left: 60px;
}

.text_foot_1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.foot_part_2 {
    height: 448px;
    background-image: url(./img/photo\ subscribe.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
    ;
}

.content_fp_2 {
    background: rgba(244, 244, 244, 0.7);
    height: 448px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}


.footer__subscribe__info {
    width: 360px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


}

.footer__subscribe__info p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    height: 99px;
}

.footer__subsc_subsc {
    width: 557px;
    height: 142px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 150px;
}

.footer__subsc_subsc__text {
    text-align: center;
}

.footer__subsc_subsc__text h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #222224;
}

.footer__subsc_subsc__text p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #222224;
}

.footer__subsc__form__btn form {
    width: 356px;
    height: 49px;
    display: flex;
    justify-content: center;
}

.footer__subsc__form__btn input {
    width: 256px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67;
    background: #E1E1E1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding-left: 22px;
    border: none;
}

.footer__subsc__form__btn button {
    width: 100px;
    height: 49px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: #F16D7F;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    vertical-align: middle;
    padding-left: 15px;
    border: none;
}

.foot_part_3 {
    margin: 0 auto;
    align-items: center;
    background: #222224;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}